body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 600px;
}

.centered-image {
    width: 100%;
    height: auto;
    max-width: 500px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

.social-links a:hover {
    text-decoration: underline;
}